# EDA & Featurizing

In [1]:
import pandas as pd
train=pd.read_csv("/content/train_MpHjUjU.csv")
test=pd.read_csv("/content/test_hXY9mYw.csv")
sample=pd.read_csv("/content/sample_submission_znWiLZ4.csv")

In [2]:
train.head(5)

       MMM-YY  Emp_ID  Age  ... Designation Total Business Value Quarterly Rating
0  2016-01-01       1   28  ...           1              2381060                2
1  2016-02-01       1   28  ...           1              -665480                2
2  2016-03-01       1   28  ...           1                    0                2
3  2017-11-01       2   31  ...           2                    0                1
4  2017-12-01       2   31  ...           2                    0                1

[5 rows x 13 columns]

In [3]:
train['MMM-YY']=pd.to_datetime(train['MMM-YY'],format="%Y/%m/%d")
train.Dateofjoining=pd.to_datetime(train.Dateofjoining,format="%Y/%m/%d")
train.LastWorkingDate=pd.to_datetime(train.LastWorkingDate,format="%Y/%m/%d")

In [10]:
train.rename(columns = {'MMM-YY':'Reporting_date'}, inplace = True)

In [16]:
X=train

In [21]:
import datetime
target=[]
train_group=train.groupby(by='Emp_ID')
ind=0
for key, item in train_group:
  group=train_group.get_group(key)
  last_work_date=group.LastWorkingDate.iloc[-1]
  left=1
  if(len(str(last_work_date))==3): 
    left=0
  if(left==1):
    for i in range(len(group)):
      current_date=group.Reporting_date.iloc[i]
      if((last_work_date-current_date)<=datetime.timedelta(180)):
        target.append(1)
      else:
        target.append(0)
      ind+=1
  else:
    last_report_date=group.Reporting_date.iloc[-1]
    for i in range(len(group)):
      current_date=group.Reporting_date.iloc[i]
      if((last_report_date-current_date)>=datetime.timedelta(180)):
        target.append(0)  
      else:
        X=X.drop(ind)  
      ind+=1

In [23]:
X.shape,len(target)

((15467, 13), 15467)

In [25]:
X.head(5)

  Reporting_date  Emp_ID  ...  Total Business Value Quarterly Rating
0     2016-01-01       1  ...               2381060                2
1     2016-02-01       1  ...               -665480                2
2     2016-03-01       1  ...                     0                2
5     2016-12-01       4  ...                     0                1
6     2017-01-01       4  ...                     0                1

[5 rows x 13 columns]

In [28]:
days_in_company=X.Reporting_date-X.Dateofjoining
len(days_in_company)

15467

In [33]:
experience=[]
for i in days_in_company:
  experience.append(int(str(i).split(' ')[0]))

In [36]:
X['Experience']=experience

In [37]:
from sklearn.preprocessing import LabelEncoder

gender_enc=LabelEncoder()
gender_enc.fit(X.Gender)
X['Gender_Encoded']=gender_enc.transform(X.Gender)

city_enc=LabelEncoder()
city_enc.fit(X.City)
X['City_Encoded']=city_enc.transform(X.City)

edu_enc=LabelEncoder()
edu_enc.fit(X.Education_Level)
X['Education_Encoded']=edu_enc.transform(X.Education_Level)

In [42]:
X_new=X[['Age','Gender_Encoded','City_Encoded','Education_Encoded','Salary','Joining Designation','Designation','Total Business Value','Quarterly Rating','Experience']]
X_new

       Age  Gender_Encoded  ...  Quarterly Rating  Experience
0       28               1  ...                 2           8
1       28               1  ...                 2          39
2       28               1  ...                 2          68
5       43               1  ...                 1          -6
6       43               1  ...                 1          25
...    ...             ...  ...               ...         ...
19093   28               0  ...                 2         224
19094   28               0  ...                 1         255
19095   28               0  ...                 1         285
19096   28               0  ...                 1         316
19097   29               1  ...                 1          -7

[15467 rows x 10 columns]

In [47]:
X_new.index=range(15467)

In [49]:
x_train=X_new.iloc[:12000]
x_test=X_new.iloc[12000:]
y_train=target[:12000]
y_test=target[12000:]

#Featurizing Test Data

In [52]:
test_data=train.merge(test,on='Emp_ID')
test_data.shape

(8588, 13)

In [60]:
test_data['Gender_Encoded']=gender_enc.transform(test_data.Gender)
test_data['City_Encoded']=city_enc.transform(test_data.City)
test_data['Education_Encoded']=edu_enc.transform(test_data.Education_Level)

In [61]:
days_in_company=test_data.Reporting_date-test_data.Dateofjoining
experience=[]
for i in days_in_company:
  experience.append(int(str(i).split(' ')[0]))
test_data['Experience']=experience
len(experience)

8588

In [64]:
test_data_new=test_data[['Emp_ID','Age','Gender_Encoded','City_Encoded','Education_Encoded','Salary','Joining Designation','Designation','Total Business Value','Quarterly Rating','Experience']]

In [67]:
test_group=test_data_new.groupby(by='Emp_ID')
test_data_final=[]
for key,value in test_group:
  group=test_group.get_group(key)
  test_data_final.append(group.iloc[-1])

In [70]:
test_data_final=pd.DataFrame(test_data_final)
test_data_final.columns=['Emp_ID','Age','Gender_Encoded','City_Encoded','Education_Encoded','Salary','Joining Designation','Designation','Total Business Value','Quarterly Rating','Experience']
test_data_final.drop(['Emp_ID'],axis=1,inplace=True)
test_data_final

      Age  Gender_Encoded  ...  Quarterly Rating  Experience
1      31               1  ...                 1          25
6      31               0  ...                 2         123
7      28               0  ...                 1          -6
10     39               0  ...                 1          46
34     31               1  ...                 4        1128
...   ...             ...  ...               ...         ...
8544   27               1  ...                 1          60
8545   35               1  ...                 1           2
8556   25               1  ...                 4         287
8580   34               1  ...                 4        1873
8587   30               1  ...                 2         176

[741 rows x 10 columns]

# Modelling - Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
n_estimator=[20,50,100,200]
depth=[5,20,50,100]
max_f1=0
best=(0,0)
for i in n_estimator:
  for j in depth:
    clf=RandomForestClassifier(max_depth=j,n_estimators=i)
    clf.fit(x_train,y_train)
    f1=f1_score(y_test,clf.predict(x_test))
    print(i,j,f1)
    if(max_f1<f1):
      max_f1=f1
      best=(i,j)
print(max_f1,best)

In [80]:
clf=RandomForestClassifier(max_depth=100,n_estimators=200)
clf.fit(X_new,target)
final_pred=clf.predict(test_data_final)

In [82]:
test['Target']=final_pred
test

     Emp_ID  Target
0       394       1
1       173       0
2      1090       1
3       840       1
4       308       0
..      ...     ...
736    2134       1
737    2255       1
738     448       0
739    1644       0
740     624       0

[741 rows x 2 columns]

In [83]:
test.to_csv('finalpred1.csv',index=False)

# Modelling- Neural Network

In [92]:
from keras import backend as K
def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision
def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [221]:
import tensorflow as tf
from tensorflow.keras import datasets, layers, models
from keras.layers import Dense
from keras.layers import Conv1D
from keras.layers import MaxPooling1D
from keras.preprocessing import sequence
import numpy as np
from keras.layers import Activation, Flatten, Dropout, Input, Concatenate
from keras import regularizers, optimizers
from tensorflow.keras import regularizers
from tensorflow.keras.models import Model
from keras.layers.embeddings import Embedding

input_layer = Input(shape=(12))
conv_1= Dense(64, activation='relu',kernel_initializer='he_normal')(input_layer)
conv_2= Dense(32, activation='relu',kernel_initializer='he_normal')(conv_1)
output_layer = Dense(units=1,activation='sigmoid')(conv_2)  
model = Model(input_layer, output_layer)
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=[f1_m])
model.summary()

Model: "model_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_14 (InputLayer)       [(None, 12)]              0

 dense_39 (Dense)            (None, 64)                832

 dense_40 (Dense)            (None, 32)                2080

 dense_41 (Dense)            (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [110]:
len(X_new),len(target)

(15467, 15467)

In [111]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X_new,target,test_size=0.30,stratify=target)
print(x_train.shape)

(10826, 10)

In [112]:
x_train=np.array(x_train)
y_train=np.array(y_train)
x_test=np.array(x_test)
y_test=np.array(y_test)

In [120]:
model.fit(x_train,y_train,epochs=80,validation_data=(x_test,y_test),verbose=2)

Epoch 1/80
339/339 - 1s - loss: 5999.8018 - f1_m: 0.5140 - val_loss: 1097.4717 - val_f1_m: 0.6314 - 1s/epoch - 4ms/step
Epoch 2/80
339/339 - 1s - loss: 1127.2146 - f1_m: 0.4957 - val_loss: 394.3604 - val_f1_m: 0.6440 - 788ms/epoch - 2ms/step
Epoch 3/80
339/339 - 1s - loss: 1164.2487 - f1_m: 0.4988 - val_loss: 871.1063 - val_f1_m: 0.6531 - 790ms/epoch - 2ms/step
Epoch 4/80
339/339 - 1s - loss: 900.9874 - f1_m: 0.5087 - val_loss: 842.4277 - val_f1_m: 0.6863 - 609ms/epoch - 2ms/step
Epoch 5/80
339/339 - 1s - loss: 889.9233 - f1_m: 0.5083 - val_loss: 850.9545 - val_f1_m: 0.6120 - 621ms/epoch - 2ms/step
Epoch 6/80
339/339 - 1s - loss: 980.7723 - f1_m: 0.5084 - val_loss: 482.5494 - val_f1_m: 0.6732 - 783ms/epoch - 2ms/step
Epoch 7/80
339/339 - 1s - loss: 630.7247 - f1_m: 0.5147 - val_loss: 1820.6921 - val_f1_m: 0.3692 - 613ms/epoch - 2ms/step
Epoch 8/80
339/339 - 1s - loss: 793.0920 - f1_m: 0.5100 - val_loss: 268.1395 - val_f1_m: 0.5958 - 620ms/epoch - 2ms/step
Epoch 9/80
339/339 - 1s - loss: 787.1738 - f1_m: 0.5188 - val_loss: 320.8692 - val_f1_m: 0.6782 - 625ms/epoch - 2ms/step
Epoch 10/80
339/339 - 1s - loss: 683.6396 - f1_m: 0.5178 - val_loss: 442.0400 - val_f1_m: 0.0420 - 612ms/epoch - 2ms/step
Epoch 11/80
339/339 - 1s - loss: 633.4481 - f1_m: 0.5093 - val_loss: 974.5998 - val_f1_m: 0.6341 - 620ms/epoch - 2ms/step
Epoch 12/80
339/339 - 1s - loss: 921.7168 - f1_m: 0.5229 - val_loss: 1570.3806 - val_f1_m: 0.6529 - 626ms/epoch - 2ms/step
Epoch 13/80
339/339 - 1s - loss: 538.1719 - f1_m: 0.5229 - val_loss: 270.9948 - val_f1_m: 0.6597 - 790ms/epoch - 2ms/step
Epoch 14/80
339/339 - 1s - loss: 638.3806 - f1_m: 0.4998 - val_loss: 1055.6620 - val_f1_m: 0.6315 - 787ms/epoch - 2ms/step
Epoch 15/80
339/339 - 1s - loss: 770.3765 - f1_m: 0.4976 - val_loss: 640.0037 - val_f1_m: 0.6348 - 623ms/epoch - 2ms/step
Epoch 16/80
339/339 - 1s - loss: 418.5918 - f1_m: 0.5288 - val_loss: 119.1879 - val_f1_m: 0.6943 - 619ms/epoch - 2ms/step
Epoch 17/80
339/339 - 1s - loss: 508.9493 - f1_m: 0.5340 - val_loss: 1048.6110 - val_f1_m: 0.6346 - 633ms/epoch - 2ms/step
Epoch 18/80
339/339 - 1s - loss: 570.8986 - f1_m: 0.5224 - val_loss: 171.2341 - val_f1_m: 0.6585 - 777ms/epoch - 2ms/step
Epoch 19/80
339/339 - 1s - loss: 380.5477 - f1_m: 0.5294 - val_loss: 627.0319 - val_f1_m: 0.6476 - 773ms/epoch - 2ms/step
Epoch 20/80
339/339 - 1s - loss: 523.3737 - f1_m: 0.5273 - val_loss: 118.5518 - val_f1_m: 0.6895 - 625ms/epoch - 2ms/step
Epoch 21/80
339/339 - 1s - loss: 471.9332 - f1_m: 0.5228 - val_loss: 187.4028 - val_f1_m: 0.6976 - 779ms/epoch - 2ms/step
Epoch 22/80
339/339 - 1s - loss: 370.4614 - f1_m: 0.5193 - val_loss: 348.7947 - val_f1_m: 0.6323 - 629ms/epoch - 2ms/step
Epoch 23/80
339/339 - 1s - loss: 385.6721 - f1_m: 0.5207 - val_loss: 87.5914 - val_f1_m: 0.6712 - 634ms/epoch - 2ms/step
Epoch 24/80
339/339 - 1s - loss: 328.1829 - f1_m: 0.5227 - val_loss: 994.8165 - val_f1_m: 0.6333 - 633ms/epoch - 2ms/step
Epoch 25/80
339/339 - 1s - loss: 373.2859 - f1_m: 0.5211 - val_loss: 375.2905 - val_f1_m: 0.0297 - 612ms/epoch - 2ms/step
Epoch 26/80
339/339 - 1s - loss: 395.2560 - f1_m: 0.5274 - val_loss: 256.0363 - val_f1_m: 0.6751 - 625ms/epoch - 2ms/step
Epoch 27/80
339/339 - 1s - loss: 309.0805 - f1_m: 0.5472 - val_loss: 538.6319 - val_f1_m: 0.6342 - 603ms/epoch - 2ms/step
Epoch 28/80
339/339 - 1s - loss: 301.8295 - f1_m: 0.5350 - val_loss: 159.3702 - val_f1_m: 0.2509 - 607ms/epoch - 2ms/step
Epoch 29/80
339/339 - 1s - loss: 272.6308 - f1_m: 0.5338 - val_loss: 218.5425 - val_f1_m: 0.1107 - 804ms/epoch - 2ms/step
Epoch 30/80
339/339 - 1s - loss: 323.0444 - f1_m: 0.5200 - val_loss: 742.0665 - val_f1_m: 0.0918 - 622ms/epoch - 2ms/step
Epoch 31/80
339/339 - 1s - loss: 296.0835 - f1_m: 0.5495 - val_loss: 106.1042 - val_f1_m: 0.2735 - 628ms/epoch - 2ms/step
Epoch 32/80
339/339 - 1s - loss: 212.1360 - f1_m: 0.5625 - val_loss: 130.0521 - val_f1_m: 0.3479 - 641ms/epoch - 2ms/step
Epoch 33/80
339/339 - 1s - loss: 312.1831 - f1_m: 0.5278 - val_loss: 59.9317 - val_f1_m: 0.6750 - 612ms/epoch - 2ms/step
Epoch 34/80
339/339 - 1s - loss: 286.1662 - f1_m: 0.5390 - val_loss: 132.7741 - val_f1_m: 0.6960 - 629ms/epoch - 2ms/step
Epoch 35/80
339/339 - 1s - loss: 321.1251 - f1_m: 0.5271 - val_loss: 317.9402 - val_f1_m: 0.6487 - 796ms/epoch - 2ms/step
Epoch 36/80
339/339 - 1s - loss: 289.6583 - f1_m: 0.5382 - val_loss: 193.4404 - val_f1_m: 0.0833 - 760ms/epoch - 2ms/step
Epoch 37/80
339/339 - 1s - loss: 320.4997 - f1_m: 0.5196 - val_loss: 319.2118 - val_f1_m: 0.4766 - 627ms/epoch - 2ms/step
Epoch 38/80
339/339 - 1s - loss: 305.5784 - f1_m: 0.5362 - val_loss: 287.9087 - val_f1_m: 0.6387 - 643ms/epoch - 2ms/step
Epoch 39/80
339/339 - 1s - loss: 260.7655 - f1_m: 0.5338 - val_loss: 126.8728 - val_f1_m: 0.6966 - 780ms/epoch - 2ms/step
Epoch 40/80
339/339 - 1s - loss: 284.8459 - f1_m: 0.5428 - val_loss: 1018.3816 - val_f1_m: 0.6252 - 763ms/epoch - 2ms/step
Epoch 41/80
339/339 - 1s - loss: 182.6791 - f1_m: 0.5607 - val_loss: 748.2978 - val_f1_m: 0.0697 - 614ms/epoch - 2ms/step
Epoch 42/80
339/339 - 1s - loss: 260.4730 - f1_m: 0.5351 - val_loss: 600.1551 - val_f1_m: 0.6336 - 635ms/epoch - 2ms/step
Epoch 43/80
339/339 - 1s - loss: 225.7283 - f1_m: 0.5614 - val_loss: 61.8297 - val_f1_m: 0.6844 - 629ms/epoch - 2ms/step
Epoch 44/80
339/339 - 1s - loss: 199.7627 - f1_m: 0.5452 - val_loss: 227.7597 - val_f1_m: 0.5650 - 771ms/epoch - 2ms/step
Epoch 45/80
339/339 - 1s - loss: 258.1451 - f1_m: 0.5469 - val_loss: 248.5083 - val_f1_m: 0.6472 - 615ms/epoch - 2ms/step
Epoch 46/80
339/339 - 1s - loss: 231.9220 - f1_m: 0.5445 - val_loss: 139.1498 - val_f1_m: 0.6687 - 628ms/epoch - 2ms/step
Epoch 47/80
339/339 - 1s - loss: 228.7950 - f1_m: 0.5397 - val_loss: 81.7620 - val_f1_m: 0.6943 - 624ms/epoch - 2ms/step
Epoch 48/80
339/339 - 1s - loss: 210.5838 - f1_m: 0.5448 - val_loss: 836.6431 - val_f1_m: 0.6077 - 613ms/epoch - 2ms/step
Epoch 49/80
339/339 - 1s - loss: 207.1400 - f1_m: 0.5533 - val_loss: 106.8675 - val_f1_m: 0.1659 - 632ms/epoch - 2ms/step
Epoch 50/80
339/339 - 1s - loss: 221.9224 - f1_m: 0.5488 - val_loss: 986.3727 - val_f1_m: 0.1524 - 614ms/epoch - 2ms/step
Epoch 51/80
339/339 - 1s - loss: 261.1612 - f1_m: 0.5540 - val_loss: 628.4627 - val_f1_m: 0.6340 - 616ms/epoch - 2ms/step
Epoch 52/80
339/339 - 1s - loss: 148.0751 - f1_m: 0.5645 - val_loss: 54.5059 - val_f1_m: 0.6676 - 617ms/epoch - 2ms/step
Epoch 53/80
339/339 - 1s - loss: 194.0159 - f1_m: 0.5560 - val_loss: 166.6509 - val_f1_m: 0.3798 - 786ms/epoch - 2ms/step
Epoch 54/80
339/339 - 1s - loss: 191.5194 - f1_m: 0.5551 - val_loss: 85.5884 - val_f1_m: 0.6634 - 616ms/epoch - 2ms/step
Epoch 55/80
339/339 - 1s - loss: 211.8272 - f1_m: 0.5518 - val_loss: 398.7571 - val_f1_m: 0.6503 - 626ms/epoch - 2ms/step
Epoch 56/80
339/339 - 1s - loss: 165.2176 - f1_m: 0.5681 - val_loss: 105.1866 - val_f1_m: 0.6683 - 626ms/epoch - 2ms/step
Epoch 57/80
339/339 - 1s - loss: 175.3322 - f1_m: 0.5489 - val_loss: 666.5005 - val_f1_m: 0.6339 - 610ms/epoch - 2ms/step
Epoch 58/80
339/339 - 1s - loss: 201.2326 - f1_m: 0.5636 - val_loss: 230.3861 - val_f1_m: 0.6679 - 619ms/epoch - 2ms/step
Epoch 59/80
339/339 - 1s - loss: 161.6251 - f1_m: 0.5743 - val_loss: 106.8127 - val_f1_m: 0.6585 - 618ms/epoch - 2ms/step
Epoch 60/80
339/339 - 1s - loss: 102.0722 - f1_m: 0.5849 - val_loss: 108.1643 - val_f1_m: 0.4359 - 612ms/epoch - 2ms/step
Epoch 61/80
339/339 - 1s - loss: 183.7080 - f1_m: 0.5501 - val_loss: 36.6408 - val_f1_m: 0.6790 - 790ms/epoch - 2ms/step
Epoch 62/80
339/339 - 1s - loss: 161.8412 - f1_m: 0.5670 - val_loss: 174.4158 - val_f1_m: 0.2584 - 625ms/epoch - 2ms/step
Epoch 63/80
339/339 - 1s - loss: 182.1528 - f1_m: 0.5671 - val_loss: 81.3454 - val_f1_m: 0.6887 - 621ms/epoch - 2ms/step
Epoch 64/80
339/339 - 1s - loss: 147.8744 - f1_m: 0.5636 - val_loss: 447.0543 - val_f1_m: 0.6322 - 788ms/epoch - 2ms/step
Epoch 65/80
339/339 - 1s - loss: 212.1706 - f1_m: 0.5635 - val_loss: 193.8356 - val_f1_m: 0.2245 - 627ms/epoch - 2ms/step
Epoch 66/80
339/339 - 1s - loss: 155.3985 - f1_m: 0.5883 - val_loss: 28.4055 - val_f1_m: 0.6562 - 792ms/epoch - 2ms/step
Epoch 67/80
339/339 - 1s - loss: 129.1639 - f1_m: 0.5761 - val_loss: 33.8151 - val_f1_m: 0.7082 - 629ms/epoch - 2ms/step
Epoch 68/80
339/339 - 1s - loss: 144.6037 - f1_m: 0.5688 - val_loss: 74.2036 - val_f1_m: 0.6431 - 644ms/epoch - 2ms/step
Epoch 69/80
339/339 - 1s - loss: 128.5032 - f1_m: 0.5643 - val_loss: 27.3267 - val_f1_m: 0.7066 - 628ms/epoch - 2ms/step
Epoch 70/80
339/339 - 1s - loss: 109.5040 - f1_m: 0.5818 - val_loss: 96.2009 - val_f1_m: 0.6482 - 780ms/epoch - 2ms/step
Epoch 71/80
339/339 - 1s - loss: 128.6021 - f1_m: 0.5703 - val_loss: 47.7092 - val_f1_m: 0.4173 - 621ms/epoch - 2ms/step
Epoch 72/80
339/339 - 1s - loss: 150.1812 - f1_m: 0.5776 - val_loss: 39.4860 - val_f1_m: 0.6231 - 640ms/epoch - 2ms/step
Epoch 73/80
339/339 - 1s - loss: 92.7398 - f1_m: 0.5675 - val_loss: 36.0553 - val_f1_m: 0.7142 - 617ms/epoch - 2ms/step
Epoch 74/80
339/339 - 1s - loss: 140.8324 - f1_m: 0.5636 - val_loss: 131.6673 - val_f1_m: 0.6443 - 613ms/epoch - 2ms/step
Epoch 75/80
339/339 - 1s - loss: 111.8500 - f1_m: 0.5708 - val_loss: 333.8857 - val_f1_m: 0.6335 - 613ms/epoch - 2ms/step
Epoch 76/80
339/339 - 1s - loss: 114.9504 - f1_m: 0.5748 - val_loss: 57.8228 - val_f1_m: 0.4707 - 624ms/epoch - 2ms/step
Epoch 77/80
339/339 - 1s - loss: 156.9926 - f1_m: 0.5646 - val_loss: 95.0435 - val_f1_m: 0.6679 - 795ms/epoch - 2ms/step
Epoch 78/80
339/339 - 1s - loss: 87.7548 - f1_m: 0.5894 - val_loss: 92.8598 - val_f1_m: 0.6476 - 614ms/epoch - 2ms/step
Epoch 79/80
339/339 - 1s - loss: 97.7534 - f1_m: 0.5843 - val_loss: 57.5751 - val_f1_m: 0.7054 - 625ms/epoch - 2ms/step
Epoch 80/80
339/339 - 1s - loss: 113.1527 - f1_m: 0.5690 - val_loss: 70.7505 - val_f1_m: 0.6121 - 624ms/epoch - 2ms/step

In [121]:
test_data_final.shape

(741, 10)

In [123]:
final_pred=model.predict(test_data_final) 
final_pred_target=[]
for i in final_pred:
  if(i>0.5):
    final_pred_target.append(1) 
  else:
    final_pred_target.append(0)

In [124]:
test['Target']=final_pred_target
test

     Emp_ID  Target
0       394       1
1       173       0
2      1090       1
3       840       1
4       308       0
..      ...     ...
736    2134       1
737    2255       1
738     448       0
739    1644       0
740     624       0

[741 rows x 2 columns]

In [125]:
test.to_csv('finalpred2.csv',index=False)

# New Features

In [131]:
X_new['Prev_Business_Value']=X_new['Total Business Value'].shift(1)
X_new['Prev_Rating']=X_new['Quarterly Rating'].shift(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
for i in range(len(X_new)):
  if(np.isnan(X_new.Prev_Business_Value.iloc[i])):
    X_new.Prev_Business_Value.iloc[i]=X_new['Total Business Value'].iloc[i]
  if(np.isnan(X_new.Prev_Rating.iloc[i])):
    X_new.Prev_Rating.iloc[i]=X_new['Quarterly Rating'].iloc[i]

In [140]:
X_new

       Age  Gender_Encoded  ...  Prev_Business_Value  Prev_Rating
0       28               1  ...            2381060.0          2.0
1       28               1  ...            2381060.0          2.0
2       28               1  ...            -665480.0          2.0
3       43               1  ...                  0.0          2.0
4       43               1  ...                  0.0          1.0
...    ...             ...  ...                  ...          ...
15462   28               0  ...             250000.0          2.0
15463   28               0  ...             319740.0          2.0
15464   28               0  ...                  0.0          1.0
15465   28               0  ...                  0.0          1.0
15466   29               1  ...                  0.0          1.0

[15467 rows x 12 columns]

In [184]:
test_data_new.shape

(8588, 11)

In [ ]:
test_data_new['Prev_Business_Value']=test_data_new['Total Business Value'].shift(1)
test_data_new['Prev_Rating']=test_data_new['Quarterly Rating'].shift(1)
for i in range(len(test_data_new)):
  if(np.isnan(test_data_new.Prev_Business_Value.iloc[i])):
    test_data_new.Prev_Business_Value.iloc[i]=test_data_new['Total Business Value'].iloc[i]
  if(np.isnan(test_data_new.Prev_Rating.iloc[i])):
    test_data_new.Prev_Rating.iloc[i]=test_data_new['Quarterly Rating'].iloc[i]

In [187]:
test_data_new

      Emp_ID  Age  Gender_Encoded  ...  Experience  Prev_Business_Value  Prev_Rating
0          2   31               1  ...          -5                  0.0          1.0
1          2   31               1  ...          25                  0.0          1.0
2          6   31               0  ...           1                  0.0          1.0
3          6   31               0  ...          32                  0.0          1.0
4          6   31               0  ...          62                  0.0          1.0
...      ...  ...             ...  ...         ...                  ...          ...
8583    2788   30               1  ...          54             497690.0          3.0
8584    2788   30               1  ...          85             740280.0          3.0
8585    2788   30               1  ...         115             448370.0          3.0
8586    2788   30               1  ...         146                  0.0          2.0
8587    2788   30               1  ...         176             200420.0          2.0

[8588 rows x 13 columns]

In [188]:
test_group=test_data_new.groupby(by='Emp_ID')
test_data_final2=[]
for key,value in test_group:
  group=test_group.get_group(key)
  test_data_final2.append(group.iloc[-1])

In [194]:
test_data_final2=pd.DataFrame(test_data_final2,columns=test_data_new.columns)
test_data_final2.drop(['Emp_ID'],axis=1,inplace=True)
test_data_final2.shape

(741, 12)

# Modelling on new features(NN)

In [222]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X_new,target,test_size=0.30,stratify=target)
print(x_train.shape)
x_train=np.array(x_train)
y_train=np.array(y_train)
x_test=np.array(x_test)
y_test=np.array(y_test)
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=[f1_m])
model.fit(x_train,y_train,epochs=70,validation_data=(x_test,y_test),verbose=2)

(10826, 12)
Epoch 1/70
339/339 - 1s - loss: 28487.3281 - f1_m: 0.5670 - val_loss: 1870.8218 - val_f1_m: 0.5448 - 1s/epoch - 4ms/step
Epoch 2/70
339/339 - 1s - loss: 3069.7878 - f1_m: 0.5559 - val_loss: 5591.3745 - val_f1_m: 0.5020 - 806ms/epoch - 2ms/step
Epoch 3/70
339/339 - 1s - loss: 3446.0669 - f1_m: 0.5462 - val_loss: 5397.9614 - val_f1_m: 0.6336 - 672ms/epoch - 2ms/step
Epoch 4/70
339/339 - 1s - loss: 3254.9736 - f1_m: 0.5330 - val_loss: 2616.7405 - val_f1_m: 0.6475 - 766ms/epoch - 2ms/step
Epoch 5/70
339/339 - 1s - loss: 2725.6477 - f1_m: 0.5258 - val_loss: 13369.6328 - val_f1_m: 0.6387 - 620ms/epoch - 2ms/step
Epoch 6/70
339/339 - 1s - loss: 3668.2253 - f1_m: 0.5437 - val_loss: 4757.8145 - val_f1_m: 0.5010 - 764ms/epoch - 2ms/step
Epoch 7/70
339/339 - 1s - loss: 2662.7681 - f1_m: 0.5536 - val_loss: 2454.2329 - val_f1_m: 0.6459 - 629ms/epoch - 2ms/step
Epoch 8/70
339/339 - 1s - loss: 2274.9326 - f1_m: 0.5356 - val_loss: 12947.8408 - val_f1_m: 0.5430 - 604ms/epoch - 2ms/step
Epoch 9/70
339/339 - 1s - loss: 3850.3823 - f1_m: 0.5472 - val_loss: 1222.9176 - val_f1_m: 0.6854 - 619ms/epoch - 2ms/step
Epoch 10/70
339/339 - 1s - loss: 2717.4973 - f1_m: 0.5367 - val_loss: 2187.6003 - val_f1_m: 0.5757 - 613ms/epoch - 2ms/step
Epoch 11/70
339/339 - 1s - loss: 2078.6853 - f1_m: 0.5492 - val_loss: 4953.2192 - val_f1_m: 0.0987 - 622ms/epoch - 2ms/step
Epoch 12/70
339/339 - 1s - loss: 2922.5269 - f1_m: 0.5416 - val_loss: 3028.2095 - val_f1_m: 0.6455 - 604ms/epoch - 2ms/step
Epoch 13/70
339/339 - 1s - loss: 2142.3550 - f1_m: 0.5460 - val_loss: 949.1685 - val_f1_m: 0.6390 - 603ms/epoch - 2ms/step
Epoch 14/70
339/339 - 1s - loss: 2289.1963 - f1_m: 0.5485 - val_loss: 1193.8695 - val_f1_m: 0.6876 - 788ms/epoch - 2ms/step
Epoch 15/70
339/339 - 1s - loss: 2285.3740 - f1_m: 0.5385 - val_loss: 3283.4219 - val_f1_m: 0.0707 - 608ms/epoch - 2ms/step
Epoch 16/70
339/339 - 1s - loss: 1987.4114 - f1_m: 0.5487 - val_loss: 1319.0526 - val_f1_m: 0.2768 - 616ms/epoch - 2ms/step
Epoch 17/70
339/339 - 1s - loss: 2249.9048 - f1_m: 0.5358 - val_loss: 1453.3325 - val_f1_m: 0.5800 - 616ms/epoch - 2ms/step
Epoch 18/70
339/339 - 1s - loss: 1557.9283 - f1_m: 0.5494 - val_loss: 1587.3030 - val_f1_m: 0.5230 - 615ms/epoch - 2ms/step
Epoch 19/70
339/339 - 1s - loss: 2092.4749 - f1_m: 0.5428 - val_loss: 2804.9910 - val_f1_m: 0.5783 - 781ms/epoch - 2ms/step
Epoch 20/70
339/339 - 1s - loss: 1965.1449 - f1_m: 0.5469 - val_loss: 1911.6731 - val_f1_m: 0.6402 - 645ms/epoch - 2ms/step
Epoch 21/70
339/339 - 1s - loss: 1683.7373 - f1_m: 0.5534 - val_loss: 2782.5044 - val_f1_m: 0.5792 - 633ms/epoch - 2ms/step
Epoch 22/70
339/339 - 1s - loss: 1636.0231 - f1_m: 0.5602 - val_loss: 1667.9645 - val_f1_m: 0.6202 - 618ms/epoch - 2ms/step
Epoch 23/70
339/339 - 1s - loss: 1988.4751 - f1_m: 0.5535 - val_loss: 586.4114 - val_f1_m: 0.6751 - 613ms/epoch - 2ms/step
Epoch 24/70
339/339 - 1s - loss: 1373.7297 - f1_m: 0.5558 - val_loss: 2167.3743 - val_f1_m: 0.2269 - 628ms/epoch - 2ms/step
Epoch 25/70
339/339 - 1s - loss: 1639.6427 - f1_m: 0.5480 - val_loss: 1669.0448 - val_f1_m: 0.5410 - 779ms/epoch - 2ms/step
Epoch 26/70
339/339 - 1s - loss: 1715.8625 - f1_m: 0.5334 - val_loss: 2273.6963 - val_f1_m: 0.3366 - 598ms/epoch - 2ms/step
Epoch 27/70
339/339 - 1s - loss: 1348.2537 - f1_m: 0.5580 - val_loss: 549.1240 - val_f1_m: 0.6656 - 618ms/epoch - 2ms/step
Epoch 28/70
339/339 - 1s - loss: 1626.6665 - f1_m: 0.5492 - val_loss: 799.6879 - val_f1_m: 0.6520 - 622ms/epoch - 2ms/step
Epoch 29/70
339/339 - 1s - loss: 1323.7090 - f1_m: 0.5408 - val_loss: 1164.4550 - val_f1_m: 0.3297 - 617ms/epoch - 2ms/step
Epoch 30/70
339/339 - 1s - loss: 1237.9091 - f1_m: 0.5621 - val_loss: 612.9569 - val_f1_m: 0.6311 - 622ms/epoch - 2ms/step
Epoch 31/70
339/339 - 1s - loss: 1171.8180 - f1_m: 0.5508 - val_loss: 1047.5278 - val_f1_m: 0.2657 - 600ms/epoch - 2ms/step
Epoch 32/70
339/339 - 1s - loss: 1536.7744 - f1_m: 0.5354 - val_loss: 1918.8445 - val_f1_m: 0.5565 - 612ms/epoch - 2ms/step
Epoch 33/70
339/339 - 1s - loss: 1416.5566 - f1_m: 0.5571 - val_loss: 1951.4381 - val_f1_m: 0.1837 - 608ms/epoch - 2ms/step
Epoch 34/70
339/339 - 1s - loss: 1126.5017 - f1_m: 0.5508 - val_loss: 889.6542 - val_f1_m: 0.6400 - 607ms/epoch - 2ms/step
Epoch 35/70
339/339 - 1s - loss: 1335.9915 - f1_m: 0.5421 - val_loss: 939.3020 - val_f1_m: 0.6679 - 619ms/epoch - 2ms/step
Epoch 36/70
339/339 - 1s - loss: 1332.8418 - f1_m: 0.5547 - val_loss: 1231.9913 - val_f1_m: 0.5639 - 647ms/epoch - 2ms/step
Epoch 37/70
339/339 - 1s - loss: 905.9056 - f1_m: 0.5517 - val_loss: 1075.4803 - val_f1_m: 0.6671 - 616ms/epoch - 2ms/step
Epoch 38/70
339/339 - 1s - loss: 1092.0240 - f1_m: 0.5503 - val_loss: 878.5997 - val_f1_m: 0.6598 - 625ms/epoch - 2ms/step
Epoch 39/70
339/339 - 1s - loss: 989.8029 - f1_m: 0.5537 - val_loss: 755.9920 - val_f1_m: 0.5704 - 621ms/epoch - 2ms/step
Epoch 40/70
339/339 - 1s - loss: 724.2868 - f1_m: 0.5501 - val_loss: 1260.1697 - val_f1_m: 0.6319 - 621ms/epoch - 2ms/step
Epoch 41/70
339/339 - 1s - loss: 906.4224 - f1_m: 0.5474 - val_loss: 1916.5215 - val_f1_m: 0.5056 - 638ms/epoch - 2ms/step
Epoch 42/70
339/339 - 1s - loss: 885.9932 - f1_m: 0.5600 - val_loss: 1333.6797 - val_f1_m: 0.6306 - 626ms/epoch - 2ms/step
Epoch 43/70
339/339 - 1s - loss: 915.9489 - f1_m: 0.5607 - val_loss: 440.8102 - val_f1_m: 0.5806 - 788ms/epoch - 2ms/step
Epoch 44/70
339/339 - 1s - loss: 750.9471 - f1_m: 0.5467 - val_loss: 629.2261 - val_f1_m: 0.6292 - 783ms/epoch - 2ms/step
Epoch 45/70
339/339 - 1s - loss: 854.4125 - f1_m: 0.5678 - val_loss: 1372.8624 - val_f1_m: 0.6324 - 611ms/epoch - 2ms/step
Epoch 46/70
339/339 - 1s - loss: 780.8823 - f1_m: 0.5579 - val_loss: 398.3293 - val_f1_m: 0.6860 - 767ms/epoch - 2ms/step
Epoch 47/70
339/339 - 1s - loss: 732.8585 - f1_m: 0.5608 - val_loss: 409.2517 - val_f1_m: 0.4918 - 620ms/epoch - 2ms/step
Epoch 48/70
339/339 - 1s - loss: 583.6158 - f1_m: 0.5607 - val_loss: 218.4873 - val_f1_m: 0.6675 - 609ms/epoch - 2ms/step
Epoch 49/70
339/339 - 1s - loss: 660.6792 - f1_m: 0.5485 - val_loss: 1014.9268 - val_f1_m: 0.6732 - 606ms/epoch - 2ms/step
Epoch 50/70
339/339 - 1s - loss: 671.7501 - f1_m: 0.5623 - val_loss: 971.2034 - val_f1_m: 0.3040 - 629ms/epoch - 2ms/step
Epoch 51/70
339/339 - 1s - loss: 859.4730 - f1_m: 0.5604 - val_loss: 597.2086 - val_f1_m: 0.6508 - 632ms/epoch - 2ms/step
Epoch 52/70
339/339 - 1s - loss: 640.6990 - f1_m: 0.5612 - val_loss: 343.7029 - val_f1_m: 0.6337 - 628ms/epoch - 2ms/step
Epoch 53/70
339/339 - 1s - loss: 807.2444 - f1_m: 0.5504 - val_loss: 575.1612 - val_f1_m: 0.6792 - 631ms/epoch - 2ms/step
Epoch 54/70
339/339 - 1s - loss: 584.1525 - f1_m: 0.5683 - val_loss: 911.5314 - val_f1_m: 0.6333 - 611ms/epoch - 2ms/step
Epoch 55/70
339/339 - 1s - loss: 738.9699 - f1_m: 0.5599 - val_loss: 359.7479 - val_f1_m: 0.6675 - 622ms/epoch - 2ms/step
Epoch 56/70
339/339 - 1s - loss: 511.8224 - f1_m: 0.5695 - val_loss: 801.6122 - val_f1_m: 0.6336 - 613ms/epoch - 2ms/step
Epoch 57/70
339/339 - 1s - loss: 572.1358 - f1_m: 0.5659 - val_loss: 258.8903 - val_f1_m: 0.6787 - 622ms/epoch - 2ms/step
Epoch 58/70
339/339 - 1s - loss: 478.3432 - f1_m: 0.5599 - val_loss: 1010.7513 - val_f1_m: 0.1429 - 780ms/epoch - 2ms/step
Epoch 59/70
339/339 - 1s - loss: 515.1390 - f1_m: 0.5665 - val_loss: 377.7693 - val_f1_m: 0.6481 - 625ms/epoch - 2ms/step
Epoch 60/70
339/339 - 1s - loss: 453.6990 - f1_m: 0.5762 - val_loss: 606.4913 - val_f1_m: 0.5485 - 793ms/epoch - 2ms/step
Epoch 61/70
339/339 - 1s - loss: 521.7363 - f1_m: 0.5695 - val_loss: 427.1515 - val_f1_m: 0.4650 - 623ms/epoch - 2ms/step
Epoch 62/70
339/339 - 1s - loss: 531.0219 - f1_m: 0.5577 - val_loss: 411.2068 - val_f1_m: 0.6687 - 622ms/epoch - 2ms/step
Epoch 63/70
339/339 - 1s - loss: 507.8757 - f1_m: 0.5667 - val_loss: 438.0995 - val_f1_m: 0.6317 - 629ms/epoch - 2ms/step
Epoch 64/70
339/339 - 1s - loss: 589.4017 - f1_m: 0.5606 - val_loss: 445.4762 - val_f1_m: 0.5530 - 614ms/epoch - 2ms/step
Epoch 65/70
339/339 - 1s - loss: 383.4077 - f1_m: 0.5807 - val_loss: 463.2591 - val_f1_m: 0.6706 - 780ms/epoch - 2ms/step
Epoch 66/70
339/339 - 1s - loss: 536.9055 - f1_m: 0.5481 - val_loss: 427.9686 - val_f1_m: 0.6488 - 629ms/epoch - 2ms/step
Epoch 67/70
339/339 - 1s - loss: 452.8847 - f1_m: 0.5638 - val_loss: 363.9082 - val_f1_m: 0.6857 - 614ms/epoch - 2ms/step
Epoch 68/70
339/339 - 1s - loss: 400.5895 - f1_m: 0.5615 - val_loss: 427.6238 - val_f1_m: 0.6457 - 620ms/epoch - 2ms/step
Epoch 69/70
339/339 - 1s - loss: 352.4380 - f1_m: 0.5621 - val_loss: 697.4456 - val_f1_m: 0.6489 - 630ms/epoch - 2ms/step
Epoch 70/70
339/339 - 1s - loss: 440.7017 - f1_m: 0.5555 - val_loss: 318.5173 - val_f1_m: 0.4089 - 781ms/epoch - 2ms/step

In [229]:
model.fit(x_train,y_train,epochs=1,validation_data=(x_test,y_test),verbose=2)

339/339 - 1s - loss: 6.1523 - f1_m: 0.6460 - val_loss: 2.6668 - val_f1_m: 0.6917 - 635ms/epoch - 2ms/step

In [230]:
model.save('model.h5')

In [231]:
final_pred=model.predict(test_data_final2) 
final_pred_target=[]
for i in final_pred:
  if(i>0.5):
    final_pred_target.append(1)
  else:
    final_pred_target.append(0)

In [232]:
test['Target']=final_pred_target
test

     Emp_ID  Target
0       394       1
1       173       0
2      1090       1
3       840       1
4       308       0
..      ...     ...
736    2134       1
737    2255       1
738     448       0
739    1644       1
740     624       1

[741 rows x 2 columns]

In [233]:
test.to_csv('finalpred6.csv',index=False)

# Random on new dataset

In [204]:
X_new.shape
#len(target)

(15467, 12)

In [205]:
from sklearn.model_selection import GridSearchCV
parameters = {'n_estimators':[20,50,100,200,500], 'max_depth':[5,10,20,30,50,100]}
est=RandomForestClassifier()
clf = GridSearchCV(est, parameters)
clf.fit(X_new,target)

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'max_depth': [5, 10, 20, 30, 50, 100],
                         'n_estimators': [20, 50, 100, 200, 500]})

In [206]:
clf.best_params_

{'max_depth': 5, 'n_estimators': 100}

In [234]:
ran=RandomForestClassifier(max_depth=5,n_estimators=100)
ran.fit(X_new,target)

RandomForestClassifier(max_depth=5)

In [235]:
f1_score(y_test,ran.predict(x_test))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

0.7467113130829945

In [236]:
final_pred=ran.predict(test_data_final2) 
test['Target']=final_pred

In [237]:
test

     Emp_ID  Target
0       394       1
1       173       0
2      1090       1
3       840       1
4       308       0
..      ...     ...
736    2134       1
737    2255       1
738     448       0
739    1644       0
740     624       0

[741 rows x 2 columns]

In [238]:
test.to_csv('finalpred7.csv',index=False)